<h1>This is the homepage.</h1>

<h2>'Completed' features:</h2>
<ul>
  <li>sign up</li>
  <li>log in</li>
  <li>log out</li>
  <li>automatic login upon signing up</li>
  <li>present error messages when user is an idiot</li>
  <li>relationships seem to be set up and working (on pry)</li>
  <li>hardcoded admin user</li>
</ul>

<h2>To do</h2>
<ul>
  <li>sort out the nav mess in the layout erb</li>
</ul>