<h1>This is the homepage.</h1>

<h2>'Completed' features:</h2>
<ul>
  <li>sign up</li>
  <li>log in</li>
  <li>log out</li>
  <li>automatic login upon signing up</li>
  <li>present error messages when user is an idiot</li>
  <li>relationships seem to be set up and working (on pry)</li>
  <li>hardcoded admin user</li>
  <li>make profile page and links to it</li>
  <li>add some seed data with dummy content and images to play around with and test profile pages</li>
  <li>add in a link to a form, so a user can edit their profile, allowing them to add a bio and image etc.</li>
  <li>figure out how to give a user a library object automatically when they sign up (so they can view it and add to it)</li>
  <li>posting system works for adding and reading a post, as well as listing on the index page</li>
  <li>make a link for a new post for users that are signed in (you can view posts without an account, but need one to post and have a lib</li>
  <li>post is given a user_id upon creation, relating it to the author of the post</li>
  <li>translated the author id into a name</li>
  <li>need to be able to update/edit and delete posts</li>
  <li>crUD system for posts, only author can edit/delete their own post</li>
</ul>

<h2>To do</h2>
<h3>Next steps</h3>
<ul>
  <li>make a view library page specific to the current user</li>
  <li>any new posts should automatically be added to the author's library</li>
  <li>add in a like/pin/add to library link on every post (only if user is logged in, myabe if they aren't tell them they need to sign up if they want to save snippets to a library)</li>
  <li>double check the library stuff when posts are made to see if they can be stored etc.</li>
  <li>sort out the codepen embeds so the same things isn't hardcoded onto every post show page</li>

</ul>

<h3>Low Priority</h3>
<ul>
  <li>sort out the nav mess in the layout erb</li>
  <li>get the codepen to embed properly</li>
  <li>get an image from the codepen to save in the :image column for each post</li>
  <li>display posts in a sexy grid</li>
  <li>make it so admin user list links to individual profile rather than just seeing their own profile for every user</li>
  <li>get a search function going for site content</li>
  <li>give admin power to see post list and delete any inappropriate one, e.g. CSS penis</li>
</ul>
