<h1>This is the individual post page</h1>

<h2><%= @post.title %></h2>

<p><%= @post.codepen %></p>

<!-- the above doesn't work. Needs to be pasted in like below
 -->
<p data-height="268" data-theme-id="0" data-slug-hash="YPErVE" data-default-tab="result" data-user="tomvalorsa" class='codepen'>See the Pen <a href='http://codepen.io/tomvalorsa/pen/YPErVE/'>YPErVE</a> by Tom Valorsa (<a href='http://codepen.io/tomvalorsa'>@tomvalorsa</a>) on <a href='http://codepen.io'>CodePen</a>.</p> <script async src="//assets.codepen.io/assets/embed/ei.js"></script>

<h2>Description:</h2>
<p><%= @post.description %></p>