<h2>About</h2>

<h3>Main Features</h3>
<ul>
  <li>User can make account</li>
  <li>User has a library</li>
  <li>User can post content</li>
  <li>User can edit and delete their own content</li>
  <li>User's own content is automatically added to their library</li>
  <li>User can add content produced by other users to their library</li>
  <li>User can view library and remove other users' content from their list if they change their mind</li>
</ul>