<h2>About</h2>

<br>

<p><b>Snip{it}</b> was made to foster creativity. We subscribe to the philosphy of <a href="http://bradfrost.com/blog/post/atomic-web-design/">'Atomic Design'</a>, by which an 'atom' is a small component of a website that, when combined with other atoms, becomes part of a larger organism. Put simply, we believe in building websites piece by piece.</p>

<br>

<p>Users can upload images of atoms they find around the web to add to a growing, crowd-sourced inspiration album. Once you've had a look at the album you can try your hand at crafting your own atoms via <a href="http://codepen.io">Codepen</a>. Simply paste in the link to your pen and your design will be added to the list of community-made atoms.</p>

<br>

<p>You can deconstruct the work of others to see how site components are made, and even take the code for yourself. All of the code is ready and waiting to be deployed to a project of your own.</p>

<% if @current_user == nil %>
  <%= link_to 'Get Started', new_user_path %>
<% end %>

<br>
<br>

<i>
<p>Disclaimer:</p>
  <p>All Codepen pens and images that were not produced by myself were used solely for educational purposes. They have been used to populate my site and give an idea of how it would look with numerous content postings. No copyright infringement was intended.</p>
</i>
