<h2>About</h2>

<h3>Main Features</h3>
<ul>
  <li>User can make account</li>
  <li>User has a library</li>
  <li>User can post content</li>
  <li>User can edit and delete their own content</li>
  <li>User's own content is automatically added to their library</li>
  <li>User can add content produced by other users to their library</li>
  <li>User can view library and remove other users' content from their list if they change their mind</li>
</ul>

<p>Browse the images for inspiration and favourite the ones you like, get an inspiration album going. If you see something you like around the web you can even upload your own.</p>

<p>Once you've had a look at the images, try your hand at uploading your own atoms via codepen. Simply paste your codepen's pen url in a new post and your code will be embedded here for others to see/favourite.</p>


<p>Upload pictures of your own creations or cool things you've found around the web. Then try your hand at creating your own designs and upload your snippets here (via codepen)</p>