<u><h1>Development Log</h1></u>

<h2>'Completed' features:</h2>

<h3>Authentication</h3>
<ul>
  <li>sign up</li>
  <li>log in</li>
  <li>log out</li>
  <li>automatic login upon signing up</li>
  <li>hardcoded admin user</li>
  <li>admin can view everyone's profile</li>
</ul>

<h3>User Stuff</h3>
<ul>
  <li>present error messages when user is an idiot</li>
  <li>relationships seem to be set up and working (on pry)</li>
  <li>make profile page and links to it</li>
  <li>add some seed data with dummy content and images to play around with and test profile pages</li>
  <li>add in a link to a form, so a user can edit their profile, allowing them to add a bio and image etc.</li>
</ul>

<h3>Post Stuff</h3>
<ul>
  <li>posting system works for adding and reading a post, as well as listing on the index page</li>
  <li>make a link for a new post for users that are signed in (you can view posts without an account, but need one to post and have a lib)</li>
  <li>post is given a user_id upon creation, relating it to the author of the post</li>
  <li>translated the author id into a name</li>
  <li>need to be able to update/edit and delete posts</li>
  <li>crUD system for posts, only author can edit/delete their own post</li>
  <li>when user inputs a codepen url in post creation, pen appears on the post page</li>
  <li>added back to lib/back to posts buttons on post show pages and changed button colour, #productivity</li>
</ul>

<h3>Library stuff</h3>
<ul>
  <li>figured out how to give a user a library object automatically when they sign up (so they can view it and add to it)</li>
  <li>new posts are automatically added to the author's library</li>
  <li>make a view library page specific to the current user</li>
  <li>add to library function</li>
  <li>hide the add library option if the current user already has it in their library</li>
  <li>replaced the add to lib with a remove from library function for the current user if it's already in there</li>
  <li>added a like/pin/add to library link on every post only if user is logged in</li>
  <li><b>managed to sort out differentiation between removing from lib while browsing post index and removing from lib while in lib. Both need to redirect to different places. When removing from lib you need to be redirected to your lib index, when browsing and removing you need to be redirected to the index of all posts. Done!</b></li>
  <li>made it so users can only edit/delete their posts from their libraries</li>
  <li>split library into my posts and favourite posts</li>
</ul>

<h3>Image stuff</h3>
<ul>
  <li>made another type of posts for images</li>
  <li>made new mvc set for images</li>
  <li>sorted out routing</li>
  <li>favouriting, adding, removing, editing and deleting all good</li>
</ul>
<h2>To do</h2>
<h3>Next steps</h3>
<ul>
  <li>style the image output</li>
  <li>get an image grid going</li>
  <li>sort out simple styling for forms</li>
  <li>sort out error divs in forms</li>
  <li>work on profile pages, include posts each user has made, make author clickable on posts, link to profile (public)</li>
  <li>tidy up what shows and hides depending on the presence of content/information</li>
  <li>outline what I would be happy with as the mvp/v1.0, make a priority list after that for other features</li>
  <li>mess around with codepen embed to make it better, but keep it working</li>
  <li>try and break shit and fix if necessary</li>
</ul>

<h3>Low Priority</h3>
<ul>
  <li>put in an added to library message when the users adds a post to their lib</li>
  <li>sort out the nav mess in the layout erb</li>
  <li>sort out the ordering of the nav bar on the actual page</li>
  <li>display posts in a sexy grid</li>

  <li>get a search function going for site content</li>
  <li>give admin power to see post list and delete any inappropriate one, e.g. CSS penis</li>
</ul>

<h3>Desired Features</h3>
<ul>
  <li>BREADCRUMBS!!!</li>
  <b><li>Detailed about page with a kind of pitch on what point of the site is and how it should be used</li></b>
  <li>endless scrolling</li>
  <li>view profiles of other users</li>
  <li>view other users' contributions (so you can pin more if you like their stuff)</li>
  <li>image posts</li>
  <li>Gravatar integration</li>
  <li>sign in with Github too ambitious?</li>
  <li>get a comment feature going for posts</li>
</ul>
