<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This could be a little sign up link or a brief tag-line for the page.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= about_path %>" role="button">Learn more</a></p>
</div>
