<div class="text-right">
  <%= form_tag("/search", :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<h1>Posts Index Page</h1>

<!-- make a list of posts here for the time being, sort out picture grid later -->

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, "/posts/#{ post.id }" %></li>
  <% end %>
</ul>
