<h2>Search Results:</h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, "/posts/#{ post.id }" %></li>
  <% end %>
</ul>


<% if @posts.length == 0 %>
  <div class="alert alert-danger" role="alert">
    <p>Sorry, there are no results. Please try again.</p>
  </div>
<% end %>
