@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700);

body {
  background-color: #F2F0EC;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.jumbotron {
  background-image: asset-url('gradient.jpg');
}

.navbar {
  background-color: #515151;
}

.nav-link a {
  color: white;
}


.field_with_errors .form-control {
  border-color: #e92115;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #e92115;
  outline: 0 none;
}

img {
  width: 100%;

}

.img-grid {
  border: 2px solid #1ABC9C;
  border-radius: 3px;
}

.row-custom {
 -moz-column-width: 20em;
 -webkit-column-width: 20em;
 -moz-column-gap: 10px;
 -webkit-column-gap:10px;
}

.row-custom > .col-lg-3 {
 display: inline-block;
 padding: 0;
 margin-bottom: 10px;
 width:  100%;
 float:none;
}

.img-responsive {
  border: 0px solid #999;
}

.login-error {
  color: #d70900;
}

.user-dropdown {
  position: relative;
  top: 8px;
  right: 8px;
}

.login-nav {
  margin-right: -8px;
}


#footer {
 padding-top: 0.5em;
 clear: both;
 position: relative;
 z-index: 10;
 height: 5em;
 margin-top: -3em;
 background-color: #515151;
 color: white;
}

.main-content {
  padding-bottom: 5em;
}

html, body, .main-content { height: 95%; }
body > .main-content { height: auto; min-height: 95%; }

.snip {
  color: #1ABC9C;
}

.braces {
  color: #fff;
}

.it {
  color: #815BA4;
}

.sign-up {
  margin-top: 6em;
}

.sign-up-container {
  background-color: lightblue;
  border-radius: 5px;
  width: 400px;
  margin-top: 7em;
}

.details {
  margin-top: -80px;
}

.img-circle {
  width: 100%;
  border: none;
  border-radius: 0;
}

.rule {
  border: 1.5px solid black;
  width: 50%;
}

.profile-delete {
  margin-top: 17px;
  margin-left: 81px;
}

.profile-edit {
    margin-top: 17px;
    margin-left: 10px;
}

.profile-name {
  position: relative;
  bottom: 3px;
}

.bio-box {
  margin-left: -16px;
  padding-right: 0px;
  margin-top: 15px;
}

.edit-profile {
  margin-top: 10em;
}

.post-nav {
  margin-bottom: 15px;
}

.comment-box {
  word-wrap: break-word;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

.image-description-panel {
  margin-top: 15px;
}


.image-author {
  margin-top: 15px;
}

.navbar-default .navbar-nav li a {
  color: white;
}
