<% unless @current_user.present? %>
  <div class="jumbotron text-center">
    <h1>Name_of_site</h1>
    <p>This site is really good for x, y and z.</p>
    <!-- button below could take user to about page which has a link for sign up -->
    <p><a class="btn btn-primary btn-lg" href="<%= about_path %>" role="button">Learn more</a></p>
  </div>
<% end %>

<div class="row-custom">
  <% @images.shuffle.each do |image| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="<%= "/images/#{ image.id }" %>" class="img-responsive">
        <img src="<%= image.image_url %>" alt="">
      </a>
    </div>
  <% end %>
</div>
