<h1>Images Index Page</h1>

<!-- make a list of posts here for the time being, sort out picture grid later -->



<!-- file upload needs to be sorted out -->
<!-- need this to print out each image in it's own div -->
<% @images.each do |image| %>
  <div class="col-md-3">
    <a href="<%= "/images/#{ image.id }" %>" class="thumbnail">
      <img src="<%= image.image_url %>" alt="">
    </a>
  </div>
<% end %>
