<% unless @current_user.present? %>
  <div class="jumbotron text-center">
    <h1>
      <span class="snip">snip</span><span class="braces">{</span><span class="it">it</span><span class="braces">}</span>
    </h1>
    <p>(logo here)</p>
    <p>Get inspired by user-shared code, ready for deployment on your own site.</p>
    <!-- button below could take user to about page which has a link for sign up -->
    <p>
      <a class="btn btn-info btn-lg" href="<%= about_path %>" role="button">Learn more</a>
      <a class="btn btn-primary btn-lg" href="<%= new_user_path %>">Get started</a>
    </p>

  </div>
<% end %>

<div class="row-custom">
  <% @images.shuffle.each do |image| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="<%= "/images/#{ image.id }" %>" class="img-responsive">
        <img src="<%= image.image_url %>" alt="">
      </a>
    </div>
  <% end %>
</div>
