<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <!-- need to make profile pages viewable from other users' accounts, namely admin -->
    <!-- do they need to be static pages? -->
    <li><%= link_to user.name, "/users/#{ user.id }" %></li>
  <% end %>
</ul>
